span p {
    margin: 10;
}
.ui-image-circle {
    background-color: rgb(135, 100, 184);
    display: inline-block; 
    border-radius: 50%;
    width: 30px;
    height: 30px;
    text-align: center;  
    color: #ffffff;
    font-size: 13px;
    font-weight: 600;
    line-height: 30px;
}
.ui-inbox:hover {
    /* cursor: pointer; */
    background-color: rgb(237, 235, 233);

}
.ui-padding-top {
    padding-top: 5px;
}
.ui-border-bottom {
    border-bottom: 1px solid;
    color: inherit;
    border-bottom-color: rgb(237, 235, 233);
}
.ui-float-right {
    float: right;
    padding-right: 30px;
}
.ui-padding-bottom {
    padding-bottom: 10px;
}
img {
    display: inline-block; 
    border-radius: 50%;
    width: 30px;
    height: 30px;
  }
  .ui-right {
      text-align: right;
  }
  .ui-circle {
    font-size:24px;
    text-align: center;
    font-weight: 600;
    line-height: 30px;
    padding-right: 6px;
  }
.ui-padding-right {
    padding-right: 5px;
}
