<ng-container *ngIf="inboxItemModel">
    <div class="container-fluid ui-padding-top">
        <div class="row ui-inbox" (mouseout)="onMouseOutInbox()" (mouseover)="onMouseOverInbox()">
            <div class="col-1 ui-padding-top ui-right">
                <i *ngIf="isIconCircleEnable" class="fa fa-circle-thin ui-circle" (click)="onClickCircleInbox()"></i>
                <i *ngIf="isInboxChecked" class="fa fa-check-circle-o ui-circle"
                    (click)="onClickCircleInboxChecked()"></i>
                <img *ngIf="inboxItemModel.imageprofileurl && isImageCircleEnable"
                    src="{{inboxItemModel.imageprofileurl}}" alt="Avatar">
                <span *ngIf="!inboxItemModel.imageprofileurl && isImageCircleEnable"
                    [ngStyle]="{'background-color':inboxItemModel.color}" class="ui-image-circle">
                    <p>{{inboxItemModel.label}}</p>
                </span>
            </div>
            <div class="col-5 ">
                <div>
                    <strong>{{inboxItemModel.from.name}}</strong>             
                    <span *ngIf="isIconCircleEnable || isInboxChecked" class="ui-float-right">
                        <i class="fa fa-trash ui-padding-right" title="Delete" style="color:rgba(96, 94, 92, 0.47);"></i>
                        <i class="fa fa-envelope ui-padding-right" title="Mark as unread" style="color:rgba(96, 94, 92, 0.47);"></i>
                        <i class="fa fa-flag ui-padding-right" title="Flag this message" style="color:rgba(96, 94, 92, 0.47);"></i>
                        <i class="fa fa-thumb-tack ui-padding-right" title="Keep this massage at the top of your folder" style="color:rgba(96, 94, 92, 0.47);"></i>
                    </span>
                </div>
            </div>
            <div class="col-6"></div>

            <div class="col-1"></div>
            <div class="col-5">
                <div>
                    {{inboxItemModel.subject | longTextDisplay:47}}               
                    <label class="ui-float-right">{{ inboxItemModel.datetime | date:'HH:mm' }}</label>
                </div>
            </div>
            <div class="col-6"></div>

            <div class="col-1 ui-border-bottom ui-padding-bottom"></div>
            <div class="col-5 ui-border-bottom ui-padding-bottom">
                <div>
                    {{inboxItemModel.body | longTextDisplay:65}}
                </div>
            </div>
            <div class="col-6"></div>

        </div>
    </div>
</ng-container>