<div class="container-fluid">
    <app-inboxheader></app-inboxheader>
    <ng-container *ngFor="let items of inboxViewModel">
        <app-inboxitems-container [inboxItemModel]="items"></app-inboxitems-container>
    </ng-container>
</div>