.ui-scollbar {
    display: inline-block;
    position: relative;
    width: 50rem;
    height: 400px;
    overflow-x: hidden;
    overflow-y: auto;
    box-sizing: border-box;
    border: 1px solid #e8f8ff;
    border-radius: 20px;


    
}
