<div class="container-fluid">
    <div class="row">
        <div class="col-1 ui-border-bottom ui-padding-bottom">
        </div>
        <div class="col-4 ui-border-bottom ui-padding-bottom">
            <strong>Inbox</strong>        
        </div>
        <div class="col-1 ui-color-blue ui-border-bottom ui-padding-bottom">
            Filter
            <i class="fa fa-angle-down dropdown dropbtn ui-color-blue" (click)="onclickIconFilter()"></i>
            <div id="myDropdown" class="dropdown-content">
                <a href="#">All</a>
                <a href="#">Unread</a>
                <a href="#">To me</a>
                <a href="#">Flagged</a>
                <a href="#">Mentions</a>
                <a href="#">Attacments</a>
                <a href="#">Sort</a>
            </div>
        </div>
         <div class="col-6"></div>
     </div>
</div>