.ui-border-bottom {
    border-bottom: 1px solid;
    color: inherit;
    border-bottom-color: rgb(237, 235, 233);
}
.ui-color-blue {
    color: rgb(0, 120, 212);
}
.ui-padding-bottom {
    padding-bottom: 10px;
}

.dropbtn {
    /* background-color: #3498DB; */
    color: rgb(0, 120, 212);
    /* padding: 16px; */
    font-size: 16px;
    border: none;
    cursor: pointer;
  }
  
  
  .dropdown {
    /* position: relative; */
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #ffffff;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px  rgb(50, 49, 48);
    z-index: 1;
    visibility: visible;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown a:hover {background-color: #ddd;}
  
  .show {display: block;}